body {margin-left:115px;margin-right:115px;
  background-color: #9654a8;
font-family: 'Alegreya Sans', sans-serif; font-size:50px;
  } 

img {
  border-color:#FF0066;
  border-width:13px;
  border-style:Solid;}

h1 {
  font-size:50px;
font-family: 'Cairo', sans-serif;
}
  
h2 {font-size: 60px;
  font-family: 'Cairo', sans-serif;
 }

p { color:#222222;
 font-family: 'Alegreya Sans', sans-serif;
  font-size:40px;
}

main {
    font-size:30px;
    font-weight:bold;  
font-family: 'Alegreya Sans', sans-serif;
}

ol{
 color:#333333;
font-family: 'Alegreya Sans', sans-serif;}

ul{
 color:#333333; 
 font-family: 'Alegreya Sans', sans-serif; }

footer{
  font-size:35px;
  font-weight:bold;  
  font-family: 'Alegreya Sans', sans-serif;color:#333333;
}

a {
  color:#c40941; text-decoration: underline lime;
}

a:hover {
    color: #a30836; text-decoration: overline lime;
}